# Logs
*.log
npm-debug.log*
yarn-error.log

database/parameter_database.json
database/config_database.json
database/data_database.json

# Dependencies
node_modules/

# Coverage
coverage/
junit.xml

# Transpiled files
dist/

# VS Code
.vscode
jsconfig.json

# Misc
.DS_Store
tmp/
archives
.idea
